.container{
    width: 400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: aquamarine;

}
.first, .second, .thrid, .forth, .fifth, .sixth{
    background-color: red;
    border: 3px solid black;
    height: 100px;

}
.thrid{
    grid-column-start: 1;
    grid-column-end:3;
}
.fifth{
    color: blue;
    grid-column: 2/3;
    grid-row:3/6;
}